h1{
text-transform: uppercase ;

}
body{
    background-color: black;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: 'Caveat', cursive;
    font-family: 'Handjet', cursive;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
}
.img{
    width: 100%;
    border: 5px solid white;
}


